h1 {
  padding: 2rem;
}

h2 {
  text-align: center;
}

.card {
  width: 50%;
  margin: 0 auto 4px auto;
  text-align: center;
  border: 2px solid #D1D1D1;
  border-radius: 6px;
}

.list-group {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
